.page.theme_dark {
  --decor-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --logo-color: #db00ff;
  --accent-text: #000028;
}

.page.page.theme_dark .header__rec {
  display: block;
}

.page.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}
