.page.theme_light {
  --decor-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #353430;
  --logo-color: #ffc2e6;
  --accent-text: #353430;
}

@media (min-width: 1024px) {
  .header__logo,
  .footer {
    --decor-color: #ff0070;
    text-shadow: 4px 4px 0 var(--decor-color, #ff0070);
  }
}

.page.theme_light .header__rec {
  display: none;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --decor-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #353430;
    --logo-color: #ffc2e6;
    --accent-text: #353430;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
  
  .header__rec {
    display: none;
  }
}
